@model IEnumerable<Doug.Models.Stat>

@{
    ViewBag.Title = "Index";
}

<h2>Stat</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyFat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDateTime)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Username)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyFat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDateTime)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
